<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8" />
        <title>Registro Minera - MckChain</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body class="vh-100 bg-light" style="background: url(/assets/images/overlay-1.png) center;">

        <div class="preloader">
            <div class="status">
                <div class="shape shape-1"></div>
                <div class="shape shape-2"></div>
                <div class="shape shape-3"></div>
                <div class="shape shape-4"></div>
            </div>
        </div>

        <div class="contain-box">
            <div class="home-center">
                <div class="home-desc-center">
                    <div class="container">
                        <div class="text-center">            
                            <button type="submit" class="back-button btn text-primary btn-back"><a href="index" ><i class="mdi mdi-arrow-left mr-1"></i> Retroceder</a></button>
                        </div> 
                        <div class="row justify-content-center align-items center">
                            <div class="col-lg-6">
                                <div class="p-5 mt-5 px-3 rounded bg-white animate__animated animate__fadeInRight"> 
                                    <div class="text-center animate__animated animate__fadeInLeft">
                                        <a href="">
                                            <img src="/assets/images/LogoMckchain.png" alt="" height="80" />
                                        </a>
                                    </div>
                                    <br>                              
                                    <div class="text-center">
                                        <div class="form-group col-sm-12 text-center">
                                            <h1>
                                                <strong>
                                                    <span class="text-info">Registrar </span>
                                                    <span class="text-danger">Encargado de Laboratorio</span>
                                                </strong>
                                            </h1>
                                        </div>
                                        <p class="text-muted f-18">Completa tu registro como Encargado</p>
                                    </div>

                                    <div class="custom-form">
                                        <form name="mineraSignupForm" [formGroup]="encargadoSignupForm" (ngSubmit)="SignupUsuarioEncargado()">

                                            <div class="form-group">
                                                <label style="font-size: 1.4vh; font-weight: bolder;">Nombres</label>
                                                <input (input)="AlertDefault()" type="text" class="form-control" id="nombres" 
                                                placeholder="Ingrese un nombre de usuario" required formControlName="nombreUsuario"
                                                [ngClass]="{
                                                    'is-invalid': encargadoSignupForm.controls['nombreUsuario'].invalid && 
                                                                 (encargadoSignupForm.controls['nombreUsuario'].dirty || 
                                                                 encargadoSignupForm.controls['nombreUsuario'].touched) , 
                                                      'is-valid': encargadoSignupForm.controls['nombreUsuario'].valid}">
                                                <div id="ruc" class="invalid-feedback">
                                                    <span class="text-danger" *ngIf="encargadoSignupForm.controls['nombreUsuario'].hasError('required')">
                                                        No puede dejar este campo vacío
                                                    </span>
                                                </div>                                                
                                            </div>
                                            
                                            <div class="form-group">
                                                <label style="font-size: 1.4vh; font-weight: bolder;">Apellidos</label>
                                                <input type="text" class="form-control" id="nombres" placeholder="Ingrese sus apellidos" formControlName="apellidoUsuario" required 
                                                [ngClass]="{
                                                    'is-invalid': encargadoSignupForm.controls['apellidoUsuario'].invalid && 
                                                                 (encargadoSignupForm.controls['apellidoUsuario'].dirty || 
                                                                 encargadoSignupForm.controls['apellidoUsuario'].touched) , 
                                                      'is-valid': encargadoSignupForm.controls['apellidoUsuario'].valid}">
                                                <div id="ruc" class="invalid-feedback">
                                                    <span class="text-danger" *ngIf="encargadoSignupForm.controls['apellidoUsuario'].hasError('required')">
                                                        No puede dejar este campo vacío
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label style="font-size: 1.4vh; font-weight: bolder;">Username</label>
                                                <input type="text" class="form-control" id="nombres" placeholder="Ingrese un correo" formControlName="usernameUsuario" required 
                                                [ngClass]="{
                                                    'is-invalid': encargadoSignupForm.controls['usernameUsuario'].invalid && 
                                                                 (encargadoSignupForm.controls['usernameUsuario'].dirty || 
                                                                 encargadoSignupForm.controls['usernameUsuario'].touched) , 
                                                      'is-valid': encargadoSignupForm.controls['usernameUsuario'].valid}">
                                                <div id="ruc" class="invalid-feedback">
                                                    <span class="text-danger" *ngIf="encargadoSignupForm.controls['usernameUsuario'].hasError('required')">
                                                        No puede dejar este campo vacío
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label style="font-size: 1.4vh; font-weight: bolder;">Contraseña</label>
                                                <div class="input-group">
                                                    <input (input)="AlertDefault()" [type]="passwordTextType ? 'text' : 'password'" class="form-control"
                                                    placeholder="Ingresa tu Contraseña" formControlName="passwordUsuario" required
                                                    [ngClass]="{
                                                        'is-invalid': encargadoSignupForm.controls['passwordUsuario'].invalid && 
                                                                     (encargadoSignupForm.controls['passwordUsuario'].dirty || 
                                                                     encargadoSignupForm.controls['passwordUsuario'].touched) , 
                                                          'is-valid': encargadoSignupForm.controls['passwordUsuario'].valid}">
                                                   
                                                    <div class="input-group-append" (click)="changepasswordTextType()">
                                                        <a type="button" class="input-group-text"
                                                            style="background-color: #4CB0F5; border-top-right-radius: 45%; border-bottom-right-radius: 45%;">
                                                            <i class="fa" [ngClass]="{
                                                                                        'fa-eye-slash': passwordTextType,
                                                                                            'fa-eye': !passwordTextType
                                                                                    }" id="decrypt" style="color: white;"></i>
                                                        </a>
                                                    </div>
                                                    <div id="passwordUsuario" class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="encargadoSignupForm.controls['passwordUsuario'].hasError('required')">
                                                            No puede dejar este campo vacío
                                                        </span>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="encargadoSignupForm.controls['passwordUsuario'].hasError('minlength')">
                                                            Debe contener al menos 8 caracteres
                                                        </span>
                                                    </div> 
                                                    <div class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="encargadoSignupForm.controls['passwordUsuario'].hasError('passwordnumber')">
                                                            Debe contener al menos un número
                                                        </span>
                                                    </div> 
                                                    <div class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="encargadoSignupForm.controls['passwordUsuario'].hasError('passworduppercase')">
                                                            Debe contener al menos una letra mayúscula
                                                        </span>
                                                    </div> 
                                                    <div class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="encargadoSignupForm.controls['passwordUsuario'].hasError('passwordsmallcase')">
                                                            Debe contener al menos una letra minúscula
                                                        </span>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        <span class="text-danger" *ngIf="encargadoSignupForm.controls['passwordUsuario'].hasError('passwordspecialcharacter')">
                                                            Debe contener al menos un carácter especial
                                                        </span>
                                                    </div>
                                                    
                                                </div>
                                            </div>

                                            <!--<input type="reset" value="Limpiar (:">-->
                                            <div class="mt-3">
                                                <button type="submit" [disabled]="!encargadoSignupForm.valid" class="btn btn-primary btn-block text-uppercase ">Regístrate</button>
                                            </div>
                                            <div class="mt-3 form-group col-sm-12 text-center" *ngIf="verificar">
                                                <span class="badge light" [ngClass]="this.classbg" >{{message}}</span>
                                            </div>
                                            
                                            <div class="mt-4 mb-0 text-center">
                                                <p class="mb-0">¿Tienes una cuenta? <a href="signin/encargado" class="text-info">¡Logueate!</a></p>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>