<div class="form-row">
    <div class="col-sm-2">
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="form-group col-sm-12 text-center">
                    <h2>
                        <span class="text-info">Generar </span>
                        <span class="text-danger">Contrato</span>
                    </h2>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-2">
                    </div>
                    <div class="form-group col-sm-8">
                        <label>Fecha de Liquidación</label>
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-2">
                    </div>
                    <div class="form-group col-sm-8">
                        <label>Cantidad de gramos</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-2">
                    </div>
                    <div class="form-group col-sm-8">
                        <label>Ley</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-2">
                    </div>
                    <div class="form-group col-sm-8">
                        <label>Precio</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-2">
                    </div>
                    <div class="form-group col-sm-8">
                        <label>Descuento otorgado</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group col-sm-12 text-center">
                    <button class="btn light btn-danger">Enviar al comprador</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-sm-2">
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="form-group col-sm-12 text-center">
                    <h2>
                        <span class="text-info">Gestionar </span>
                        <span class="text-danger">Contrato</span>
                    </h2>
                </div>
                <div class="form-row mt-2">
                    <h3 class="col-sm-6">Fecha de Liquidación :</h3>
                    <h3 class="col-sm-6 text-muted">10000073712</h3>
                </div>
                <div class="form-row mt-2">
                    <h3 class="col-sm-6">FCantidad de gramos :</h3>
                    <h3 class="col-sm-6 text-muted">1000</h3>
                </div>
                <div class="form-row mt-2">
                    <h3 class="col-sm-6">Ley :</h3>
                    <h3 class="col-sm-6 text-muted">94%</h3>
                </div>
                <div class="form-row mt-2">
                    <h3 class="col-sm-6">Precio :</h3>
                    <h3 class="col-sm-6 text-muted">12500.50</h3>
                </div>
                <div class="form-row mt-2">
                    <h3 class="col-sm-6">Descuento otorgado :</h3>
                    <h3 class="col-sm-6 text-muted">2.0%</h3>
                </div>
                <div class="form-row mt-2">
                    <h3 class="col-sm-6">Forma de Pago :</h3>
                    <h3 class="col-sm-6 text-muted">Tarjeta de credito</h3>
                </div>
                <div class="form-row mt-2">
                    <h3 class="col-sm-6">Tipo de moneda :</h3>
                    <h3 class="col-sm-6 text-muted">Soles</h3>
                </div>
                <div class="form-row mt-2">
                    <h3 class="col-sm-6">Insertar Firma :</h3>
                    <div class="col-sm-6">
                        <!--<a type="button" class="btn light btn-secondary ml-1" style="overflow: hidden; position: relative;">-->
                        <a type="button" class="btn light btn-secondary ml-1" style="overflow: hidden; position: relative;">
                            <input class="fileInput" type="file" name="file1" accept="image/*"
                            style="cursor: pointer; height: 100%; position:absolute; top: 0; right: 0; z-index: 99; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)"/>
                            <span class="btn-icon-left text-secondary">
                                <i class="fa fa-file-pdf-o color-info"></i>
                            </span>Firma Comprador
                        </a>                     
                    </div>
                </div>
                <div class="form-group mt-4 col-sm-12 text-center">
                    <button class="btn light btn-danger">Firmar Contrato</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-sm-2">
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="form-group col-sm-12 text-center">
                    <h2>
                        <span class="text-info">Gestionar </span>
                        <span class="text-danger">Contrato</span>
                    </h2>
                </div>
                <div class="form-row mt-2">
                    <h3 class="col-sm-6">Fecha de Liquidación :</h3>
                    <h3 class="col-sm-6 text-muted">10000073712</h3>
                </div>
                <div class="form-row mt-2">
                    <h3 class="col-sm-6">FCantidad de gramos :</h3>
                    <h3 class="col-sm-6 text-muted">1000</h3>
                </div>
                <div class="form-row mt-2">
                    <h3 class="col-sm-6">Ley :</h3>
                    <h3 class="col-sm-6 text-muted">94%</h3>
                </div>
                <div class="form-row mt-2">
                    <h3 class="col-sm-6">Precio :</h3>
                    <h3 class="col-sm-6 text-muted">12500.50</h3>
                </div>
                <div class="form-row mt-2">
                    <h3 class="col-sm-6">Descuento otorgado :</h3>
                    <h3 class="col-sm-6 text-muted">2.0%</h3>
                </div>
                <div class="form-row mt-2">
                    <h3 class="col-sm-6">Forma de Pago :</h3>
                    <h3 class="col-sm-6 text-muted">Tarjeta de credito</h3>
                </div>
                <div class="form-row mt-2">
                    <h3 class="col-sm-6">Tipo de moneda :</h3>
                    <h3 class="col-sm-6 text-muted">Soles</h3>
                </div>
                <div class="form-row mt-2">
                    <h3 class="col-sm-6">Insertar Firma :</h3>
                    <div class="col-sm-6">
                        <!--<a type="button" class="btn light btn-secondary ml-1" style="overflow: hidden; position: relative;">-->
                        <a type="button" class="btn light btn-secondary ml-1" style="overflow: hidden; position: relative;">
                            <input class="fileInput" type="file" name="file1" accept="image/*"
                            style="cursor: pointer; height: 100%; position:absolute; top: 0; right: 0; z-index: 99; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)"/>
                            <span class="btn-icon-left text-secondary">
                                <i class="fa fa-file-pdf-o color-info"></i>
                            </span>Firma Comprador
                        </a>                     
                    </div>
                </div>
                <div class="form-group mt-4 col-sm-12 text-center">
                    <button class="btn light btn-danger">Generar Contrato</button>
                </div>
            </div>
        </div>
    </div>
</div>