<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Mckchain</title>
</head>
<body>
    <div class="main-navigation fixed-top" id="mainmenu-area" style="background-color: #f8faff;">
        <div class="container">
            <nav class="navbar navbar-expand-lg ">
                <a class="navbar-brand font-weight-bold" href="/">
                <img src="../../../assets/images/LogoMckchain.png" width="15%" class="img-fluid">
                </a>
                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="ti-menu-alt"></span>
                </button>

                <!-- Collapse -->            
                <div class="collapse navbar-collapse " id="navbarmain">
                    <!-- Links -->
                    <ul class="navbar-nav ml-auto mb-0 text-center text-lg-left">
                        <li class="nav-item active">
                            <a href="/" class="nav-link js-scroll-trigger">
                                Inicio
                            </a>
                        </li>
                    </ul>
                </div> <!-- / .navbar-collapse --> 

            </nav>
        </div> <!-- / .container -->
    </div>

    <section class="banner py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7 text-center text-lg-left">
                    <br><br><br><br><br>
                    <div class="main-banner">
                        <span class="section-subtitle">Bienvenido a Mckchain</span>
                        <h1 class="display-4 mb-3">
                            Aplicación de Gestión<br>
                            de Obtención de Minerales
                        </h1>

                        <p class="lead">
                            Mckchain te garantizará la trazabilidad de procesos de obtención de minerales por medio de Blockchain.
                        </p>

                        <!-- Button -->
                        <a id="btnSigninEmpresa" href="/signin/minera" class="btn" style="width: 56%; font-size: 18px; margin: 14px; border-radius: 30px; font-weight: bolder; 
                                                     color:white; background: #4CB0F5; padding: 14px;" >
                            Ingresar como Minera <i class="ti-angle-double-right ml-2"></i>
                        </a>
                        <br>
                        <a id="btnSigninUser" href="/signin/comprador" class="btn" style="margin-top: 5%; width: 56%; font-size: 18px; margin: 14px; border-radius: 30px; font-weight: bolder; background: #FF2B5C;color:white; padding: 14px;">
                            Ingresar como Comprador <i class="ti-angle-double-right ml-2"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-5 col-md-6">
                    <div class="banner-img">
                        <img src="../../../assets/images/index.png" style="margin-top: 20%;" alt="" class="img-fluid">
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <footer class="footer ">
        <div class="container">
            <div class="row footer-btm mt-5 pt-4 border-top">
                <div class="col-lg-6  col-sm-6">
                    <p class="footer-copy">
                        &copy; 2022 <a class="current-year" href="/" target="_blank">Mckchain</a>. All Rigths Reserved | By <a class="current-year" href="" target="_blank">Diego Campos and Christian Silva</a>
                    </p>
                </div>
            </div> <!-- / .row -->
        </div>
    </footer>

</body>
</html>
