<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="form-row">
                
                <div class="form-group col-sm-5">
                    <div class="col-md-12">
                        <div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0">
                            <div class="new-arrivals-img-contnent">
                                <div ></div><img class="img-fluid" src="{{imagenUser}}" alt="">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <h3>{{nombreUser}}</h3>
                        <!--ponerle condicional con un boton para que se vea esto de editar-->
                        <div class="pr-5 pl-5">
                            <button type="button" class="btn btn-rounded btn-success" style="overflow: hidden; position: relative;">
                                <input class="fileInput" type="file" name="file1" accept="image/png,image/jpeg" (change)="onChange($event)"
                                style="cursor: pointer; height: 100%; position:absolute; top: 0; right: 0; z-index: 99; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)"/>
                                <span class="btn-icon-left text-success">
                                    <i class="fa fa-cloud-upload"></i>
                                </span>Cambiar Foto
                            </button>             
                        </div>
                    </div>                    
                </div>
                
                <div class="form-group col-sm-6">
                    <div class="form-row mt-4">
                        <h3 class="col-sm-6">RUC :</h3>
                        <h3 class="col-sm-6 text-muted"> {{rucUser}} </h3>
                    </div>
                    <div class="form-row mt-4">
                        <h3 class="col-sm-6">Codigo Unico :</h3>
                        <h3 class="col-sm-6 text-muted"> {{codigoUnico}} </h3>
                    </div>
                    <div class="form-row mt-4">
                        <h3 class="col-sm-6">Ubicación :</h3>
                        <h3 class="col-sm-6 text-muted"> {{ubicacionUser}} </h3>
                    </div>
                    <div class="form-row mt-4">
                        <h3 class="col-sm-6">Contacto :</h3>
                        <h3 class="col-sm-6 text-muted"> {{telefonoUser}} </h3>
                    </div>
                    <div class="form-row mt-4">
                        <h3 class="col-sm-6">Email :</h3>
                        <h3 class="col-sm-6 text-muted"> {{emailUser}} </h3>
                    </div>
                    <div class="form-row mt-4">
                        <h3 class="col-sm-6">Web :</h3>
                        <h3 class="col-sm-6 text-muted"> {{webUser}} </h3>
                    </div>      
                    <div class="form-row mt-4 text-center">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-rounded btn-success" [routerLink]="'/minera/perfil/editar'" style="overflow: hidden; position: relative;">
                                <span class="btn-icon-left text-success">
                                    <i class="fa fa-cloud-upload"></i>
                                </span>Editar perfil
                            </button> 
                        </div>
                    </div>              
                </div>
                
            </div>
        </div>
    </div>
</div>
