<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>Actualizar Contraseña</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="vh-100 bg-light overflow-hidden" style="background: url(/assets/images/overlay-1.png) center;">
    <div class="preloader">
        <div class="status">
            <div class="shape shape-1"></div>
            <div class="shape shape-2"></div>
            <div class="shape shape-3"></div>
            <div class="shape shape-4"></div>
        </div>
    </div>

    <div class="contain-box">
        <div class="text-left" style="margin: 10px;">
            <button type="submit" class="back-button btn text-primary btn-back "><a href="" ><i class="mdi mdi-arrow-left mr-1"></i> Retroceder</a></button>
        </div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center align-items center">
                        <div class="col-lg-6">
                            <div class="text-center animate__animated animate__fadeInLeft">
                                <a href=""><img src="/assets/images/LogoFenosys.png" alt="" height="50" /></a>
                            </div>

                            <div class="cartita p-5 mt-5 px-3 rounded bg-white animate__animated animate__fadeInRight">
                                <div class="text-center">
                                    <h3 class="text-primary">Actualizar Contraseña</h3>

                                    <p class="text-muted f-18">Ingrese la nueva contraseña</p>
                                </div>


                                <div class="custom-form">
                                    <form class="login-form" [formGroup]="passwordupdateForm" (ngSubmit)="PasswordUpdate()">
                                        <div class="row">

                                            <div class="col-sm-12">
                                                <p class="form-group col-sm-12 text-muted">Ingresa tu nueva contraseña<span style="color: red;" *ngIf="passwordupdateForm.controls['contrasenia'].invalid">*</span></p>
                                                <div class="form-group col-sm-12">
                                                    <div class="input-group">
                                                        <input (input)="AlertDefault()" (input)="verificarContra()" [type]="passwordTextType ? 'text' : 'password'" name="password" class="form-control" id="password"
                                                            formControlName="contrasenia"
                                                            [ngClass]="{
                                                            'is-invalid': passwordupdateForm.controls['contrasenia'].invalid && 
                                                                        (passwordupdateForm.controls['contrasenia'].dirty || 
                                                                        passwordupdateForm.controls['contrasenia'].touched) , 
                                                            'is-valid': passwordupdateForm.controls['contrasenia'].valid}">
                                                            <div class="input-group-append" (click)="changepasswordTextType()" >
                                                                <a type="button" class="input-group-text" style="border-radius: 0px 10px 10px 0px ;" [ngStyle]="{'background-color' : colorCheck? '#dc3545' : '#07AB33'}">
                                                                    <i class="fa" [ngClass]="{
                                                                                                'fa-eye-slash': passwordTextType,
                                                                                                    'fa-eye': !passwordTextType
                                                                                            }" id="decrypt" style="color: white;"></i>
                                                                </a>
                                                            </div>

                                                            <div class="invalid-feedback">
                                                                <span class="text-danger" *ngIf="passwordupdateForm.controls['contrasenia'].hasError('required')">
                                                                    No puede dejar este campo vacío
                                                                </span>
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                <span class="text-danger" *ngIf="passwordupdateForm.controls['contrasenia'].hasError('minlength')">
                                                                    Debe contener al menos 8 caracteres
                                                                </span>
                                                            </div> 
                                                            <div class="invalid-feedback">
                                                                <span class="text-danger" *ngIf="passwordupdateForm.controls['contrasenia'].hasError('passwordnumber')">
                                                                    Debe contener al menos un número
                                                                </span>
                                                            </div> 
                                                            <div class="invalid-feedback">
                                                                <span class="text-danger" *ngIf="passwordupdateForm.controls['contrasenia'].hasError('passworduppercase')">
                                                                    Debe contener al menos una letra mayúscula
                                                                </span>
                                                            </div> 
                                                            <div class="invalid-feedback">
                                                                <span class="text-danger" *ngIf="passwordupdateForm.controls['contrasenia'].hasError('passwordsmallcase')">
                                                                    Debe contener al menos una letra minúscula
                                                                </span>
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                <span class="text-danger" *ngIf="passwordupdateForm.controls['contrasenia'].hasError('passwordspecialcharacter')">
                                                                    Debe contener al menos un carácter especial
                                                                </span>
                                                            </div> 
                                                    </div>
                                                </div>
                                                <p class="form-group col-sm-12 text-muted">Verifica tu contraseña <span style="color: red;" *ngIf="passwordupdateForm.controls['confirmcontrasenia'].invalid">*</span></p>

                                                <div class="form-group col-sm-12">
                                                    <div class="input-group">
                                                        <input (input)="AlertDefault()" (input)="verificarContra()" [type]="passwordTextType2 ? 'text' : 'password'" class="form-control" name="confirmar_password" id="confirmar_password"
                                                        formControlName="confirmcontrasenia" required [ngClass]="{
                                                            'is-invalid': passwordupdateForm.controls['confirmcontrasenia'].invalid && 
                                                                        (passwordupdateForm.controls['confirmcontrasenia'].dirty || 
                                                                        passwordupdateForm.controls['confirmcontrasenia'].touched) , 
                                                            'is-valid': passwordupdateForm.controls['confirmcontrasenia'].valid}"> 
                                                            <div class="input-group-append" (click)="changepasswordTextType2()">
                                                                <a type="button" class="input-group-text" style="border-radius: 0px 10px 10px 0px ;"
                                                                    [ngStyle]="{'background-color' : colorCheck2? '#dc3545' : '#07AB33'}">
                                                                    <i class="fa" [ngClass]="{
                                                                                                'fa-eye-slash': passwordTextType2,
                                                                                                    'fa-eye': !passwordTextType2
                                                                                            }" id="decrypt" style="color: white;"></i>
                                                                </a>
                                                            </div>

                                                            <div class="invalid-feedback">
                                                                <span class="text-danger" *ngIf="passwordupdateForm.controls['confirmcontrasenia'].hasError('required')">
                                                                    No puede dejar este campo vacío
                                                                </span>
                                                            </div>
                                                                                                                         
                                                            <div class="invalid-feedback">
                                                                <span *ngIf="this.viewContra2">
                                                                    {{messageContra}} 
                                                                </span>
                                                            </div>
                                                    </div>
                                                    <div>
                                                        <span *ngIf="this.viewContra" style="color: #07AB33; font-size: 80%; font-family: Work Sans, Arial, sans-serif; line-height: 1.4;"> 
                                                            {{messageContra}} 
                                                        </span>
                                                    </div>
                                                    
                                                    
                                                </div>
                                            </div>
                                         
                                            <div class="col-sm-12">
                                                <div class="alert alert-success text-center" *ngIf="this.verificar1" role="alert">
                                                    {{ this.Message }}
                                                </div>
                                                <div class="alert alert-danger text-center" *ngIf="this.verificar2" role="alert">
                                                    {{ this.Message }}
                                                </div>    
                                            </div>
                                            
                                            <div class="col-lg-12">
                                                <button type="submit" class="btn btn-primary w-100" [disabled]="!passwordupdateForm.valid">Guardar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
